dur=90
min_dur=5
chars_per_line=33
font_size=50
niceness=10
tweet_interval=500
default_port=57110

#files
tmp=/tmp/sc140
rss=/tmp/sc140/rss.xml
playing=/tmp/sc140/playing
alive=/tmp/sc140/stillAlive
badtweets=/tmp/sc140/badtweets
should_fetch=/tmp/sc140/shouldFetch

#data directory
data=data
working_rss=data/rss_pr.xml

# See lynx-readme for more on this section
need_lynx=0
lynx_url=$data/login.html 
lynx_log=$data/login.log
timeout=0
